{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": 0,
    "no-mixed-operators": 0,
    "no-underscore-dangle": 0,
    "no-prototype-builtins": 0,
    "global-require": 0,
    "react/sort-comp": 0,
    "react/no-array-index-key": 0,
    "react/jsx-filename-extension": 0
  },
  "plugins": [
    "prettier"
  ]
}
